.search-bar{
    background-color: #f0f0f0;
    width: fit-content;
    margin: 2.5rem auto 4rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    border-radius: 5px;
}
.search-bar .icon{
    padding-left: 20px;
}
.search-bar form{
    display: flex;
    align-items: center;
}
.search-bar input{
    background-color: #f0f0f0;
    outline: none;
    border: none;
}
.search-bar span{
    padding-right: 0.5rem;
    cursor: pointer;
}
.search-bar button{ 
    outline: none;
    border: none;
    padding: 0.3rem 1rem;
    border-radius: 5px;
    background-color: #0f52ba;
    color: white;
}